@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/*Index*/

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  font-family: "PT Sans", sans-serif;
}

.main-container {
  flex-grow: 1;
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  align-items: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  width: 160px;
  height: 37px;
  border: none;
}

.navigation {
  display: flex;
  width: 1200px;
  height: 70px;
  margin: 0 auto;
}

.navigation-list {
  width: 390px;
  margin: 0;
  padding: 0;
}

.navigation-user {
  width: 263.87px;
  margin-left: auto;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  }

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.page-intro {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 1200px;
  height: 767px;
}

.page-main {
  background-image: url("../images/index/index-content/index-background-logo.jpg");
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;

}

.page-main-logo {
  color:#000000;
  width: 458px;
  height: 352px;
  padding: 51px 371px 25px;
}

.welcome-logo {
  position: absolute;
  background-size: 100% auto;
  padding: 0.4px 135px 306.9px 135.3px;
}

.to-the-gorgeous-logo {
  position: absolute;
  background-size: 100% auto;
  padding: 56.1px 101px 267.12px;
}

.sedona-because-logo {
  position: absolute;
  background-size: 100% auto;
  padding: 138.2px 1px 1.03px 0.3px;
}

.vector-line-logo {
  position: absolute;
  width: 1200px;
  height: 57px;
}

.section-description {
  width: 1200px;
  height: 282px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 63px;
}

.main-header {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.sedona-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.advantages {
  box-sizing: border-box;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: 400px;
  height: 384px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

}

.dark-blue {
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  width: 180px;
}

.white {
  padding-top: 92px;
}

.black {
padding-top: 103px;
}

.numbering {
  font-weight: 400;
}

.advantages-description {
  font-weight: 400;
  padding: 0 85px 102px;
}

.vector-house {
padding-top: 80px;
}

.vector-food {
  padding-top: 81px;
}

.vector-souvenirs {
  padding-top: 78px;
}

.sedona-description-advantages-house {
  font-weight: 400;
  padding-bottom: 81px;
  width: 190px;
}

.sedona-description-advantages {
  font-weight: 400;
  padding-bottom: 81px;
  width: 230px;
}

.sedona-sity {
  background-color: #ffffff;
  background-size: 100% auto;
}

.benefits-blue {
  background-color: #f0f6fa;
}

.benefits-white {
  background-color: #ffffff;
}

.devils-bridge {
  background-color: #ffffff;
  background-size: 100% auto;
}

.benefits-sky-blue {
  background-color: #f0f6fa;
}

.benefits-dark-sky-blue {
  background-color: #e6f0f6;
}

.section-interest {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 417px;
  text-align: center;
  margin: 0 auto;

}

.main-header + .interest {
  width: 297px;
}

.sedona-interest {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  width: 592px;
}

.interest-button {
  width: 574px;
  height: 60px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #000000;
  background-image: url(../images/index/index-content/background-subscibe.jpg);
  background-repeat: no-repeat;
  background-position: absolut;
  width: 1200px;
  height: 411px;
  text-align: center;
  margin: 0 auto;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  width: 404px;
}

.newsletter-form{
  display: flex;
  align-items: center;
}

.subscribe-description {
  width: 475px;

  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
}

.field {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #f2f2f2;
  width: 600px;
  height: 60px;
  border-radius: 10px 0 0 10px;
  box-sizing: border-box;
  border-color: #ffffff;
  margin: 0;
  padding: 0;
}

.newsletter-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  width: 200px;
  height: 60px;
  color: #ffffff;
  background-color: #82B3D3;
  border-radius: 0 10px 10px 0;
  text-align: center;
  text-transform: uppercase;
}

.page-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 120px;
  margin: 0 auto;
}

.page-footer .footer-social-item a {
/*Тут будут отступы*/
}

.phone-number {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

/*Catalog*/


.sedona-hotels-filter {
  color: #ffffff;
  background-color: #000000;
  background-image: url(../images/catalog/catalog-content/bg-filter.jpg);
  background-repeat: no-repeat;

  box-sizing: border-box;
  width: 1200px;
  height: 403px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 70px;
}

.sedona-hotels-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 1700;
}

.breadcrumbs {

}

.catalog-filter {
  display: flex;
  align-content: center;
}

.catalog-filter-infrastructure {


}

.search-hotels {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  width: 338px;
  height: 36.94px;
}

.select-control {
  width: 290px;
  height: 49px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.hotels-image {
  width: 300px;
  height: 211px;
}

.hotels-card-link {
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.hotels-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  width: 300px;
  height: 28px;
}

.hotels-card-type {
  font-weight: 400;
  width: 400px;
}

.hotels-card-price {
  font-weight: 400;
  width: 400px;
}

.button + .hotels-card-favorites{
  background-color: #82b3d3;
  width: 140px;
  line-height: 37px;
}

.button + .hotels-card-favorites-checked {
 background-color: #7db54f;
}

.hotels-rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  width: 140px;
  height: 37px;
  color: #000000;
  background-color: #f2f2f2;
  border-radius: 4px;
  text-transform: uppercase;
}

.pagination-item {
  width: 60px;
  height: 60px;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  width: 12px;
  height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.hotels-on-page {
  font-weight: 400;
  width: 175px;
  height: 22.91px;
}

.performance {
width: 160px;
height: 49px;
}
